<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
      <%= I18n.t('imports.email.heading',
        class_name: @class_name,
        date: @import.created_at.strftime("%I:%M%p - %d/%m/%Y"),
        error_count: @import.import_errors.count)
      %>
    </h1>
    <p><%= I18n.t('imports.email.sub_heading') %></p>

    <table>
      <tr>
        <th><%= I18n.t('imports.email.row_number') %> </th>
        <th><%= I18n.t('imports.email.error') %> </th>
      </tr>
    <% @import.import_errors.each do |import_error| %>
      <tr>
        <td><%= import_error.row_number %></td>
        <td><%= import_error.message %></td>
      </tr>
      <% end %>
    </table>
  </body>
</html>
